<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/app.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corvus</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>CORVUS/<span class="logo__section">Staff</span></h1>
        </div>
        <nav>
            <div class="search">
                <input type="text" placeholder="search">
            </div>
        </nav>
        <div class="edit"></div>
    </header>
    <main>
        <section>
            <div class="filter">
                <div class="all type">
                    <h2>All</h2>
                </div>
                <div class="typeA type">
                    <h2>Type A</h2>
                </div>
                <div class="typeB type">
                    <h2>Type B</h2>
                </div>
            </div>
            <div class="display-info">
                <table class="table" id="table">
                    <tr class="table__tr">
                        <td id="id" class="table__td tr__id">2394823529</td>
                        <td id="forenames" class="table__td column">Correa</td>
                        <td id="names" class="table__td column ">jesus david</td>
                        <td id="position" class="table__td less">oficina</td>
                        <td id="c_type" class="table__td less">prestacion de servicios</td>
                        <td id="salary" class="table__td table__salary column">$877803</td>
                    </tr>
                    <tr class="table__tr">
                        <td id="id" class="table__td tr__id ">id</td>
                        <td id="forenames" class="table__td column">forename</td>
                        <td id="names" class="table__td column">name</td>
                        <td id="position" class="table__td less">position</td>
                        <td id="c_type" class="table__td less">c_type</td>
                        <td id="salary" class="table__td table__salary column">salary</td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <aside>

    </aside>
    <script type='module' src="{{ url_for('static', filename='scripts/application.js') }}"></script>
</body>
</html>
