<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corvus</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>CORVUS/<span class="logo__section">Staff</span></h1>
        </div>
        <nav>
            <div class="search">
                <img src="{{ url_for('static', filename='images/search_black_24dp.svg') }}" alt="">
                <input type="text" placeholder="Search">
            </div>
        </nav>
        <div class="edit">
            <img src="{{ url_for('static', filename='images/add_white_18dp.svg')}}" alt="">
        </div>
    </header>
    <main>

      <div class="pagos">
        <div class="cont-h3">
          <h3>Pagos</h3>
        </div>
        <div class="cont-cav">
          <div class="pagos__canvas">
            <canvas id="payroll" class="cav"></canvas>
          </div>
        </div>
      </div>
      
      <div class="eps">
        <h2>EPS</h2>
        <div class="eps__cav">
          <div class="cont-cav e-cav">
            <div class="canvas">
              <canvas id="eps"></canvas>
            </div>
          </div>
          <div class="cont-cav e-cav">
            <div class="canvas">
              <canvas id="others"></canvas>
            </div>
          </div>
        </div>
      </div>
    </main>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='scripts/application.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/chart.js') }}"></script>
</body>
</html>
